<div class="body">
    <div class="wrapper">
      <form action="">
        <h1>Login</h1>
        <div class="input_box">
        <input type="email" placeholder="Email" required>
        <i class='bx bx-user'></i>
        </div>
        <div class="input_box">
        <input type="password" placeholder="password" required>
        <i class='bx bx-lock-alt'></i>
        </div>
    
        <div class="remember">
          <label><input type="checkbox">Remember me</label>
        </div>
        <button routerLink="/login" class="submit">Login</button>
        <div class="register-link">
          <p>Don't have an account?<a (click)="navigateToRegister()">Register</a></p>
        </div> 
     
    
      </form>
        </div>
    </div>
  
  
